################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NameSorterApplication/NameSorterApplication/obj
/NameSorterApplication/NameSorterApplication/bin/Debug/netcoreapp3.1
/NameSorterApplication/NameSorter.Test/obj
/NameSorterApplication/NameSorter.Test/bin/Debug/netcoreapp3.1
/NameSorterApplication/.vs/NameSorterApplication/DesignTimeBuild
/NameSorterApplication/.vs/NameSorterApplication/v16/TestStore/0
